*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: arial, sans-serif;
}

body{
    background-color: #fff;
}

header .points{
    width: 20%;
    float: right;
    margin-right: 10%;
    font-size: 22px;
}

.course-content {
    background-color: #dfdfdf;
    padding: 50px;
    margin: 5% auto 0;
    width: 80vw;
}

.question{
    text-align: center;
    text-justify: justify;
}

.answer{
    margin-top: 5%;
    text-align: center;
    text-justify: justify;
}

.buttons{
    display: block;
    width: 100%;
    margin-top: 50px;
    line-height: 50px;
    text-align: center;
}

button{
    background-color: #fff;
    font-size: 18px;
    margin: 0 10px;
    width: 200px;
    line-height: 40px;
    border: 1px solid black;
    position: relative;


}

button:hover{
    cursor: pointer;
}



button:hover .icon{
    position: absolute;
    display: inline-block;
    margin-left: 10px;
}


button i{
    color: green;
    font-size: 22px;
    margin-left: 10px;
}

