<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<header>
    <div class="points">
        <p>Today points: <span>3/5</span></p>
    </div>
</header>
<div class="course-content">

    <div class="question">
        <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A nostrum iure dolorum blanditiis ut enim?</h3>
    </div>

    <div class="answer">
        <p>
            lo
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos deserunt odit labore sunt consectetur rerum nesciunt obcaecati, totam quas neque, fugit eos, maiores tempora quia. Nam sit quis iste vitae veritatis beatae molestias optio quidem enim aliquid, molestiae quaerat, repudiandae mollitia incidunt, natus temporibus! Tenetur ratione dolor laudantium aut dolore inventore, hic sapiente excepturi sint debitis? Sunt rerum quos architecto ullam iste alias quibusdam consequatur eveniet. Perferendis quod reiciendis, maxime placeat nesciunt debitis eos ex maiores laudantium harum quas quos. Nostrum repudiandae, expedita consequuntur esse, eligendi sed. Corporis ex eum ducimus reiciendis deleniti deserunt, distinctio aut vitae, sed laudantium, qui!
        </p>
    </div>
    <div class="buttons">
        <p>Your answer was:</p>
        <button>Good<i class="fas fa-smile-beam"></i></button>

        <button>Almost good<i class="fas fa-grin-beam-sweat displayon"></i></button>
        <button>Bad<i class="fas fa-frown-open displayon"></i></button>
    </div>
</div>
</body>
</html>