<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <!--<div th:insert="fragments/general.html :: imports">...</div>-->
</head>
<body>
<div class="wrapper">
    <header>
    </header>
    <main class="registration">
    <div class="registration-form">
        <div class="login-block">
            <h1>Login</h1>
            <form action="#" th:action="@{/signup}" th:object="${user}" method="POST">
                <div class="inputfield">
                    <input type="text" th:field="*{name}" value="" placeholder="Username" />
                    <i class="far fa-user"></i>
                </div>
                <div class="inputfield">
                    <input type="text" value="" th:field="*{email}" placeholder="Email" />
                    <i class="far fa-envelope-open"></i>
                </div>
                <div class="inputfield">
                    <input type="password" th:field="*{password}" value="" placeholder="Password" />
                    <i class="fas fa-unlock-alt"></i>
                </div>
                <button>Submit</button>
            </form>
        </div>
    </div>
    <div class="registration-form">
        <div class="login-block">
            <h1>Register</h1>
            <form action="#" th:action="@{/signin}" th:object="${user}" method="POST">
                <div class="inputfield">
                    <input type="hidden" th:field="*{name}" value="anonym" placeholder="Username" />
                    <i class="far fa-user"></i>
                </div>
                <div class="inputfield">
                    <input type="text" value="" th:field="*{email}" placeholder="Email" />
                    <i class="far fa-envelope-open"></i>
                </div>

                <div class="inputfield">
                    <input type="password" th:field="*{password}" value="" placeholder="Password" />
                    <i class="fas fa-unlock-alt"></i>
                </div>
                <button>Submit</button>
            </form>
        </div>
    </div>
    </main>
</div>

</body>

</html>